# Lecture 1 : Input-Output Coding

In [1]:
import sys

In [2]:
sys.version

'3.8.5 (default, Sep  3 2020, 21:29:08) [MSC v.1916 64 bit (AMD64)]'

In [3]:
pwd()

'f:\\BITS - MTECH\\Python for DS'

In [4]:
conda --info

Note: you may need to restart the kernel to use updated packages.
usage: conda-script.py [-h] [-V] command ...
conda-script.py: error: the following arguments are required: command

In [9]:
conda info

     active environment : base
    active env location : E:\SW\Anaconda 3
            shell level : 1
       user config file : C:\Users\acver\.condarc
 populated config files : C:\Users\acver\.condarc
          conda version : 4.9.2
    conda-build version : 3.20.5
         python version : 3.8.5.final.0
       virtual packages : __win=0=0
                          __archspec=1=x86_64
       base environment : E:\SW\Anaconda 3  (writable)
           channel URLs : https://repo.anaconda.com/pkgs/main/win-64
                          https://repo.anaconda.com/pkgs/main/noarch
                          https://repo.anaconda.com/pkgs/r/win-64
                          https://repo.anaconda.com/pkgs/r/noarch
                          https://repo.anaconda.com/pkgs/msys2/win-64
                          https://repo.anaconda.com/pkgs/msys2/noarch
          package cache : E:\SW\Anaconda 3\pkgs
                          C:\Users\acver\.conda\pkgs
                          C:\Users\acver\AppData\Local\conda\conda\pkgs
       envs directories : E:\SW\Anaconda 3\envs
                          C:\Users\acver\.conda\envs
                          C:\Users\acver\AppData\Local\conda\conda\envs
               platform : win-64
             user-agent : conda/4.9.2 requests/2.24.0 CPython/3.8.5 Windows/10 Windows/10.0.19041
          administrator : False
             netrc file : None
           offline mode : False


Note: you may need to restart the kernel to use updated packages.

In [10]:
print("Hello World")

Hello World

In [11]:
print('Welcome to Python Programming!!')

Welcome to Python Programming!!

In [12]:
print("Welcome to Pythong Programming!!")

Welcome to Pythong Programming!!

In [13]:
print('Welcom','to','Python','Programming!!')

Welcom to Python Programming!!

In [14]:
# If I want to seperate each words by ***
print('Welcom','to','Python','Programming!!',sep='***')

Welcom***to***Python***Programming!!

In [16]:
print('Welcome\nto\nPython\nProgramming!!')

Welcome
to
Python
Programming!!

In [18]:
# Print is the python core library so no need to import any packages for this

## String Literals

In [19]:
print('2+3')

2+3

In [20]:
print(2+3)

5

In [22]:
#So whatever we have print here are
# Unformatted Output
print('2+3 =',(2+3))

2+3 = 5

## Formatted Output

In [27]:
# In Java
# int x;
# x=5

# In Python
x = 1234.56789
print('x=%f' %x)

#If we want to print only two decimal value then .2f round up and give values
print('x=%.2f' %x)

# If you want to place some width i.e.how many whitespace in upfront by 10 from left
print('x=%10.2f' %x)
## so here what python is doing that first it takes 10 white spaces from right to left
# __________
# then starts filling numbers from left to right
# ___1234.57

x=1234.567890
x=1234.57
x=   1234.57

In [33]:
boys = 68.56
girls = 31.44

# % = placeholder and tells to python that where the number goes in what format so it will be floating point number and only two dicimal point will be displayed 
print("Girls = %.2f,Boys = %.2f" %(girls,boys))
print("Girls = %.2f %%,Boys = %.2f %%" %(girls,boys))

# .format (girls , boys ) are two variable to be printed, 1st one index of 0 and 2nd one index of 1
#{} is a placeholder of location of girls & boys, 
# 0:.2f -> index at 0 with 2 decimal places value
print("Girls = {0:.2f} %,Boys = {1:.2f} %" .format(girls,boys))

# swap values
print("Girls = {0:.2f} %,Boys = {1:.2f} %" .format(boys,girls))

Girls = 31.44,Boys = 68.56
Girls = 31.44 %,Boys = 68.56 %
Girls = 31.44 %,Boys = 68.56 %
Girls = 68.56 %,Boys = 31.44 %

# Input Statements

In [34]:
# Compare Java
# Scanner class and its object in Java
# Scanner receive input and its object has method which takes input

# In Python 
# direct input function

In [47]:
input("Enter Your Age:")

'50'

In [48]:
# Pythong input function always return String
age = input("Enter Your Age:")
age
print(type(age))

<class 'str'>

In [46]:
age

'50'

In [49]:
# age data type is string
age = int(age)
type(age)

int

In [50]:
age = age + 10
print('Your age after 10 years will be : %d Years' %age)

Your age after 10 years will be : 60 Years

In [52]:
# another function to convert directly
# Using eval function to recieve user input

age = eval(input("Enter Your Age:"))

In [54]:
age
print(type(age))

<class 'int'>

In [55]:
gpa = eval(input("Enter your GPA: "))

In [56]:
gpa

8.45

In [57]:
type(gpa)

float

In [58]:
gpa = input("Enter your GPA: ")

In [59]:
gpa

'9.4'

In [60]:
type(gpa)

str

In [61]:
gpa = float(gpa)

In [62]:
type(gpa)

float

# Accessing String Elements

In [63]:
# Strings are immutable objects
# Strings are sequence objects

# -ve index right to left
# +ve index left to right
#          01234567890123
aString = "This is a Game"
#         -43210987654321

In [64]:
# Number of elements in a String
len(aString)

14

In [65]:
# Accessing a particular element 's' -> +ve index then left to right
aString[3]

's'

In [66]:
# Accessing a particular element 's' -> -ve index then right to left
aString[-11]

's'

In [67]:
#          01234567890123
aString = "This is a Game"
#         -43210987654321

print(aString[4])
print(aString[-4])
print(aString[10])

G
G

# String Slicing

In [68]:
# Syntax
# aString[start : end : step]

# start - defaults to 0
# end - Not inclusive
# step - optional

In [69]:
#          01234567890123
aString = "This is a Game"
#         -43210987654321

In [70]:
aString[0:3] # 3 is not inclusive

'Thi'

In [71]:
aString[10:] # if end number is ommitted, it defaults to end of the string

'Game'

In [72]:
aString[ : 7] # if ommit start number, it defaults to zero, so here 7 is not included starts from 0

'This is'

In [73]:
#          01234567890123
aString = "This is a Game"
#         -43210987654321

aString[2:12:2] #  2 through 11 with a Step value of 2
# so it will only goes to 10 
# start from 2 = i
# skip 2 element so next value at 4 = space
# 2 more values = s
# 2 more values = a
# 2 more values = G ( 10)
# end no is 12 no iclusive
# 2+10 = 12 is not available so it stops < 12, upto 10

'i saG'

In [74]:
#          01234567890123
aString = "This is a Game"
#         -43210987654321

In [75]:
aString[: : 3] # omit start & end - Complete String is taken for slicing

# Omit start - 0
# Ommit end - defaults value end of the string
# Ommit Step value = +1

'Tss m'

In [76]:
# Start value should be less than the end value
aString[-14 : -10] # step value defaults to +1

'This'

In [99]:
aString[8 :  : 1] + aString[4: 7] + aString[ 4] + aString[:4]

'a Game is This'

In [100]:
# Ensure that in an Array if we take starting point then we must need to take end point otherwise it won't give anything
aString[-10 : -14]

''

In [101]:
aString[-5 : -14 : -1]

' a si sih'

# String Functions

In [102]:
s1 = "coMpuTer sCienCe and iNFOrmaTIoN sYSTemS"

In [103]:
s1

'coMpuTer sCienCe and iNFOrmaTIoN sYSTemS'

In [104]:
print(s1.upper())

COMPUTER SCIENCE AND INFORMATION SYSTEMS

In [105]:
print(s1.lower())

computer science and information systems

In [106]:
print(s1.title())

Computer Science And Information Systems

In [107]:
s1 = "123"
# check whether the given string is string or not
print(type(s1))

<class 'str'>

In [108]:
s1.isnumeric()

True

In [109]:
s1.isdigit()

True

In [110]:
s1.isalpha()

False

In [111]:
s1.isalnum()

True

In [112]:
s2 = "123.456"

In [113]:
s2.isdigit()

False

In [114]:
s2.isalpha()

False

In [115]:
s2.isalnum()

False

In [116]:
s3 = "Coronavirus"
s4 = "Yearbook2021"

In [117]:
s3.isalnum()

True

In [118]:
s3.isdigit()

False

In [119]:
s3.isalpha()

True

In [120]:
s3.isascii()

True

In [121]:
s3.isdecimal()

False

In [122]:
s3.isidentifier()

True

In [123]:
s3.islower()

False

In [124]:
s3.isprintable()

True

In [125]:
s3.istitle()

True

In [126]:
s4.isalnum()

True

In [127]:
s4.isalpha()

False

In [128]:
s4.isdecimal()

False

In [129]:
s4.isdigit()

False

In [130]:
s4.isalnum()

True

# String Splitting & Stripping

In [131]:
s1 = "\n\tBITS Pilani\n\t"
s1

'\n\tBITS Pilani\n\t'

In [133]:
print(s1)

	BITS Pilani

In [134]:
print(repr(s1))

'\n\tBITS Pilani\n\t'

In [135]:
# \n, \t , space are called whitespace charachters

In [136]:
s1.rstrip() # Removes whitespace from right

'\n\tBITS Pilani'

In [137]:
s1.lstrip() # Removes whitespaces chars from the Left - Leading

'BITS Pilani\n\t'

In [138]:
s1.strip() # removes all whitespace charchs

'BITS Pilani'

In [139]:
s2 = "xxxyyxxyyzzzCorona Virus"

In [141]:
s2.lstrip('x') # Python is Case sensitive

'yyyzzzCorona Virus'

In [142]:
s2.lstrip('yxz') # Order is nont impot only impt is match

'Corona Virus'

In [143]:
line = "This COVID-19 Outbreak was first identified in Wuhan China"

In [144]:
# Split() function creates a list of individual words separeed by spaces
splitLine = line.split()

In [145]:
print(splitLine)

['This', 'COVID-19', 'Outbreak', 'was', 'first', 'identified', 'in', 'Wuhan', 'China']

In [146]:
print(splitLine[1])

COVID-19

In [147]:
print(splitLine[-3])

in

In [148]:
csv = "India, is, under, complet, lockdown"

In [149]:
csv.split(',')

['India', ' is', ' under', ' complet', ' lockdown']

In [150]:
csv.find('India')

0

In [151]:
csv.find("USA")

-1

In [152]:
s3 = "Arunachal Pradesh"
print(s3)

Arunachal Pradesh

In [153]:
s3.replace("Arunachal","Uttar") # modifying string , String are immutable object we can't change so here it is creating new string

'Uttar Pradesh'

In [154]:
s3[4] = 'A'

TypeError: 'str' object does not support item assignment

# List Object - Mutable Data Structures

### Optimization required, List are slight slow

In [155]:
emptyList = []

In [156]:
print(emptyList)

[]

In [157]:
type(emptyList)

list

In [158]:
len(emptyList)

0

In [159]:
numList = [2,5,6,3,7,5,6]

In [160]:
len(numList)

7

In [161]:
mixedList = [1,1.4,3,True,"BITS"]

In [162]:
print(mixedList) # No restriction of data types

[1, 1.4, 3, True, 'BITS']

In [163]:
len(mixedList)

5

## Access Individual elements - LIST

In [165]:

#            0  1  2   3     4
mixedList = [1,1.4,3,True,"BITS"]
#           -5 -4 -3  -2    -1
print(mixedList)

[1, 1.4, 3, True, 'BITS']

In [166]:
#print 4th element -> at index 3
print(mixedList[3])

True

In [167]:
print(mixedList[-2])

True

## Mutablity of Lists

In [168]:
a = [1,2,3]
print(a)

[1, 2, 3]

In [169]:
print(id(a))

2545555136320

In [170]:
a[1] = "BITS PILANI"
print(a)
print(id(a)) # here id or address is not changed only value will be changed

[1, 'BITS PILANI', 3]
2545555136320

In [171]:
## Assign List a to another List
b = a # assign list a to b
print(b)

[1, 'BITS PILANI', 3]

In [172]:
print(id(b)) # assign is address and value with = equal sign

2545555136320

In [173]:
b[2] = "Coronovirus"
print(b)
print(a)
print(id(a))
print(id(b))

[1, 'BITS PILANI', 'Coronovirus']
[1, 'BITS PILANI', 'Coronovirus']
2545555136320
2545555136320

In [174]:
## but if we want to add an object with diff address

# Unless you are sure What you are doing, do not use assignment operator with mutable objects 
# Always create a new Object because if you modify one object 
# id will not affect the other object

# Shallow Copy vs Deep Copy

c = list(a)
print(c)
print(id(c))

[1, 'BITS PILANI', 'Coronovirus']
2545558799552

In [175]:
print(a)
print(id(a))

[1, 'BITS PILANI', 'Coronovirus']
2545555136320

## Comparing Lists

In [176]:
a = [1,2,3]
b = [1,2,3]

print(a == b) # True, Coparees elements of the list . Order matters, List is the Order Sequence similar to strings

True

In [177]:
c = [2,1,3]
print(a == c) # False , Order matters

False

In [178]:
print(id(a)) == id(b) # False

2545561425920

False

## Adding LIsts

In [179]:
a = [1,2,3]
b = ['a','b','c']
print(a)
print(b)

[1, 2, 3]
['a', 'b', 'c']

In [180]:
c = a+b
print(c)

[1, 2, 3, 'a', 'b', 'c']

In [181]:
# Updating elements of a with b
a +=  b
print(a)

[1, 2, 3, 'a', 'b', 'c']

In [182]:
a = [1,2,3]
b=['Hyderabad','Mumbai','Delhi','Bangaluru']

a.extend(b)
print(a)
print(b)

[1, 2, 3, 'Hyderabad', 'Mumbai', 'Delhi', 'Bangaluru']
['Hyderabad', 'Mumbai', 'Delhi', 'Bangaluru']

## List Operations

In [1]:
# Create and empty List
employees = []
print(employees)

[]

In [2]:
# Add elements to the List
employees.append("James") # 0
employees.append("Emily") # 1
print(employees)

['James', 'Emily']

In [3]:
# Inserting elements
employees.insert(1,"Tom")
print(employees)

['James', 'Tom', 'Emily']

In [4]:
# Number of Employess
len(employees)

3

In [5]:
# Insert an element at the end
employees.insert(len(employees),"Carlos")
print(employees)

['James', 'Tom', 'Emily', 'Carlos']

In [6]:
# Checking if any elements exists in the List
if "Chris" in employees:
    print("Chris is an employee")
else:
    print("Chris is not employee")

Chris is not employee

In [7]:
print("Chris" in employees)

False

In [8]:
print("Chris" not in employees )

True

In [9]:
len(employees[2])

5

In [10]:
print(employees)

['James', 'Tom', 'Emily', 'Carlos']

In [11]:
# locate an element
pTom = employees.index("Tom") # searches from the begining of the list
print(pTom)

1

In [12]:
employees.append("Tom")
print(employees)

['James', 'Tom', 'Emily', 'Carlos', 'Tom']

In [13]:
pTom2 = employees.index("Tom",pTom+1)
print("Second Tom is located at",pTom2)

Second Tom is located at 4

In [17]:
# Add an element at Location one before the last one
employees.insert(len(employees)-1,"Bill")
print(employees)

['James', 'Emily', 'Carlos', 'Bill', 'Tom']

In [18]:
# Remove elements from the list
employees.remove("Tom")
print(employees)

['James', 'Emily', 'Carlos', 'Bill']

In [19]:
# Removing elements using pop()
# remove elements at a particular index
x = employees.pop(len(employees)-1)
print("Employess popped is",x)

print(employees)

Employess popped is Bill
['James', 'Emily', 'Carlos']

In [20]:
if "Jeffery" in employees:
    employees.remove("Jeffery")

In [21]:
print(employees)

['James', 'Emily', 'Carlos']

In [22]:
employees.insert(-4,"Jacob")

In [23]:
print(employees)

['Jacob', 'James', 'Emily', 'Carlos']

In [24]:
# Removing an element using Del statement
del employees[2]
print(employees)

['Jacob', 'James', 'Carlos']

## List Slicing

In [25]:
#      0  1  2  3  4  5  6   7
fib = [0, 1, 1, 2, 3, 5, 8, 13]
#     -1 -2 -3 -4 -5 -6 -7  -8

In [27]:
l1 = fib[1:6]
print(l1)

[1, 1, 2, 3, 5]

In [28]:
l2 = fib[5:]
print(l2)

[5, 8, 13]

In [29]:
l3 = fib[-6:-2]
print(l3)

[1, 2, 3, 5]

In [30]:
l4 = fib[5:20]
print(l4)

[5, 8, 13]

In [31]:
print(fib[20])

IndexError: list index out of range

## List Operation 2

In [32]:
a = [7,9,3,2]
print(a)

[7, 9, 3, 2]

In [33]:
#Basic Math Operations
print("Sum of the elements:", sum(a))

Sum of the elements: 21

In [34]:
print("Maximum Value :", max(a))
print("Minimum Value :",min(a))

Maximum Value : 9
Minimum Value : 2

In [35]:
b = list(a)
print(b)

[7, 9, 3, 2]

In [36]:
# Sortinig elements of a list
b.sort() # by default ascending order
print(b)

[2, 3, 7, 9]

In [37]:
c = list(a)
print(c)

[7, 9, 3, 2]

In [38]:
c.sort(reverse=True)
print(c)

[9, 7, 3, 2]

In [39]:
# reverse() function reverse the original order
# list must be in a particular order
c.reverse()
print(c)

[2, 3, 7, 9]

In [40]:
print(a)

[7, 9, 3, 2]

In [41]:
b = list(a)
print(a)

[7, 9, 3, 2]

In [42]:
c = a[:]
print(c)

[7, 9, 3, 2]

In [43]:
d = a.copy()
print(d)

[7, 9, 3, 2]

# Operators, Expressions and Decision Structures

In [44]:
# Relational Operators
# == ,!=, < , > , <= , >=
# these Operators result in a Boolean outcom
# when we use relational operations, they are called boolean expressions

In [45]:
num1 = 5
num2 = 8

print(num1==num2)

False

In [46]:
print(num1 > num2)

False

In [47]:
# Logical Operators
# And , or ,!

In [48]:
# and operator combines two boolean expressions
# compund expressions
(num1 > 0) and (num1 > num2)

False

In [49]:
(num1 > 0) or (num1 < num2)

True

In [52]:
# Truth Table

#X   Y  X and Y  X or Y   !X
# ===========================
 T   T     T        T      F
 T   F     F        T      F
 F   T     F        T      T 
 F   F     F        F      T

IndentationError: unexpected indent (<ipython-input-52-ffcb87808175>, line 5)

Decision Structures or Selection Structures

Sequence structure
Selection Structure
Repetition structure

# single selction structure - Single Structure
if <condition>:
    # Execute the statement

# Dual selection Structure    

if <condition>:
    # Execute statement 1
else:
    # execute statement

# Multiple selection structures
# Nested Selection Structures

In [54]:
num = 5
if (num == 5):
    print("1) number is", num )
    print("2) another statement")
print("3) End of if condition")

1) number is 5
2) another statement
3) End of if condition

In [55]:
num = 5
if (num > 5):
    print("1) number is", num )
    print("2) another statement")
    
print("3) End of if condition")

3) End of if condition

In [56]:
num = int(input("Enter a number:"))

if(num % 2 == 0):
    print("1) ", num,"is even") # if - block
else:
    print("2) ", num,"is odd") # else - block

print("3) End of if condition ") # if - block

1)  8 is even
3) End of if condition

In [58]:
# Multiple selection structure
num = 5

if(num==5):
    print("Number is 5")
else:
     if(num > 5):
         print("Number is greater than 5")
     else:
         print("Number is less than 5")

print("This statement always executes")

Number is 5
This statement always executes

In [59]:
num = 5

if(num==5):
    print("Number is 5")
elif(num > 5):
    print("Number is greater than 5")
else:
         print("Number is less than 5")

print("This statement always executes")

Number is 5
This statement always executes

In [62]:
marks = int(input("Enter your score:"))

if marks >80:
    print("Congrats!! You got distinction")
elif (marks <= 80 and marks > 60):
    print("You got first class")
elif (marks <= 60 and marks > 35):
    print("You got second class")
elif (marks <= 35 and marks >= 0):
    print("Sorry!! You need to retake the exam")
else:
    print("Invalid Score")

Congrats!! You got distinction

In [63]:
number = input("Enter a number:") # input function always return string, so we need to change the data type

if (number > 5):
    print("number is greater than 5")
else:
    print("number is not greater than 5")

print("statement outside if structure")

TypeError: '>' not supported between instances of 'str' and 'int'

In [76]:
try:
    number = input("Enter a number: ") # input function always return string, so we need to change the data type

    if (number > 5):
        print("number is greater than 5")
    else:
        print("number is not greater than 5")
except:
      print("Something went wrong..")

print("statement outside if structure")

Something went wrong..
statement outside if structure

## 03 Repetition Structures

### While Loop
### For Loop
### In Python no - do While Loop

- As long as condition is true so inside while exec statements
- make sure we set the condition to be false otherwise it will exec infite times

In [1]:
# While loop is also called as condition - controlled Loop

# while <Condition>:
#       perform statements
#       statements - 2

In [4]:
i = 0
while (i < 5):
    print(i)
    i +=1

0
1
2
3
4

In [7]:
# end is a parameter for print function that surpasses \n new line character
i = 2
while (i < 15):
    print(i,end=' ')
    i +=4
print()

2 6 10 14

In [8]:
i = -2
while (i > -10):
    print(i , end=' ')
    i -= 3
print()

-2 -5 -8

In [10]:
### For Loop c

# for loop is called ounter - controlled loop

# for x in range(start, end, step) 
#    statement
#    statement
#    statement

In [11]:
# 10 is the end number (not inclusive)
# start - defaults to 0
# step - defaults to +1

for i in range(10):  # 0,1,2,3...9
    print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
for i in range(10):  # 0,1,2,3...9
    print(i, end=' ')
print()

0 1 2 3 4 5 6 7 8 9

In [13]:
# start = 5
# end = 10 ( not inclusive)
# step = +1

for i in range(5,10):  # 5,6,7,8,9
    print(i , end = ' ')
print()

5 6 7 8 9

In [14]:
for i in range(5,15,3): # 5,8,11,14
    print(i, end = ' ')
print()

5 8 11 14

### Comparision between a while and a for loop

1)  Initialize variable ( i=5) - One time execution 
2) Check the condition ( i < 15) 
3) Execute statements (printing i)
4) Increment / Decrement the counter (i +=3) - go back to step 2

In [3]:
# Code to double the investment
# You invest certain amount for certain interest rate
# How long does it take for the investment to double/

years = 0
initialAmount = 100000
rateOfInterest = 6.99

targetAmount = initialAmount * 2

balance = initialAmount # running total

while (balance <= targetAmount):
    years += 1

    #Calculate interest amount
    interestAmount = balance * rateOfInterest/100

    #Update balance
    # This statement eventually changes the condition to false

    balance += interestAmount

    #print("%4d : %.2f " %(years,balance))

    print("%4d : %.2f : %.2f" %(years,interestAmount,balance))


message = "The investment of %.2f becomes %.2f in %d years" %(initialAmount,balance,years)

print(message)

   1 : 6990.00 : 106990.00
   2 : 7478.60 : 114468.60
   3 : 8001.36 : 122469.96
   4 : 8560.65 : 131030.61
   5 : 9159.04 : 140189.65
   6 : 9799.26 : 149988.90
   7 : 10484.22 : 160473.13
   8 : 11217.07 : 171690.20
   9 : 12001.14 : 183691.34
  10 : 12840.02 : 196531.37
  11 : 13737.54 : 210268.91
The investment of 100000.00 becomes 210268.91 in 11 years

In [6]:
#Nested Loop
# Loop inside a Loop
# To build a multiplication table

for i in range(1,11): # 1,2..10 OUter loop # ROWS
    for j in range(1,11): # Inner Loop # Columns
        print("%4d" %(i * j), end='  ')
    
    print()    
# For each value of the outerloop repeat the inner loop(However many time it is)

   1     2     3     4     5     6     7     8     9    10
   2     4     6     8    10    12    14    16    18    20
   3     6     9    12    15    18    21    24    27    30
   4     8    12    16    20    24    28    32    36    40
   5    10    15    20    25    30    35    40    45    50
   6    12    18    24    30    36    42    48    54    60
   7    14    21    28    35    42    49    56    63    70
   8    16    24    32    40    48    56    64    72    80
   9    18    27    36    45    54    63    72    81    90
  10    20    30    40    50    60    70    80    90   100

In [11]:
# break and Continue Statement

# Break statement breaks out of the loop completely
# Continue breaking out of the current iteration

i = 10

while(i < 55):
    print(i, end=" ")

    if(i == 50):
        break
    i += 5

10 15 20 25 30 35 40 45 50

In [12]:
numList = [2,6,3,9,5,3,7]
#i         0 1 2 3 4 5 6  
total = 0
i = 0

#     i < 7
while(i < len(numList)):
    if(numList[i] == 3):
        i+=1
        continue # if numList[i]==3 if block exec and continue then below that continue block will not exec. 

    total += numList[i] # 2 6

    print(i, " : ", total)
    i +=1

0  :  2
1  :  8
3  :  17
4  :  22
6  :  29

## Strings

In [14]:
#    -43210987654321 
s1 = "This is a Game"
#     01234567890123

for i in range(len(s1)): # [0,14(not included) , 1]
    print(s1[i], end=' ')
print()

T h i s   i s   a   G a m e

In [16]:
for i in range(-1,-len(s1)-1,-1):
    print(s1[i],end = ' ')
print()

e m a G   a   s i   s i h T

In [17]:
for i in range(1, len(s1),3):
    print(s1[i], end=' ')
print()

h     G e

In [18]:
# String is a sequence object
# Lopping through a String without using its index

for x in s1:
    print(x, end=' ')

print()

T h i s   i s   a   G a m e

In [23]:
i = -len(s1) # -14

while(i <= -1):
    print(i, " : ", s1[i])
    i +=1

print()

-14  :  T
-13  :  h
-12  :  i
-11  :  s
-10  :
-9  :  i
-8  :  s
-7  :
-6  :  a
-5  :
-4  :  G
-3  :  a
-2  :  m
-1  :  e

## Tuples

* Immutable Data Structures but we can convert it as Mutable objects also
* List is a Mutable objects
* Like a List take multiple data types
* Most of the Operation with List can also apply with Tuples
* Tuples are represented paranthesis while List are by []

In [25]:

aTuple = (1,1.5,'COVID-19','Python',True)

In [26]:
type(aTuple)

tuple

In [27]:
len(aTuple)

5

In [28]:
aTuple[2]

'COVID-19'

In [29]:
aTuple[-3]

'COVID-19'

In [30]:
type(aTuple[-2])

str

In [31]:
type(aTuple[-1])

bool

In [32]:
# Tuple Slicing

aTuple[0:3] # 0,1,2

(1, 1.5, 'COVID-19')

In [33]:
aTuple[3:] # Skip end number, it defaults to end tye tupple

('Python', True)

In [34]:
aTuple[:2] # Skip start number, it defaults to 0

(1, 1.5)

In [35]:
# Joining Tuples

t1 = ('a','b',3,'d')
t2 = (5,6)

t1+t2

('a', 'b', 3, 'd', 5, 6)

In [36]:
t3 = ('a',2)
t3 * 3 # Repetition operator

('a', 2, 'a', 2, 'a', 2)

In [37]:
t1[2] = 36

TypeError: 'tuple' object does not support item assignment

In [38]:
aTuple

(1, 1.5, 'COVID-19', 'Python', True)

In [39]:
for i in range(len(aTuple)):
    print(aTuple[i])

1
1.5
COVID-19
Python
True

In [40]:
for item in aTuple:
    print(item)

1
1.5
COVID-19
Python
True

In [41]:
t5 = (1,1.5,"Java",[4,8,2],True)
t5

(1, 1.5, 'Java', [4, 8, 2], True)

In [42]:
id(t5)

1789199854384

In [43]:
t5[2] = "Python"

TypeError: 'tuple' object does not support item assignment

In [44]:
# t5 = (1,1.5,"Java",[4,8,2],True)
t5[-2][1] = "Python"

In [45]:
t5

(1, 1.5, 'Java', [4, 'Python', 2], True)

In [46]:
# List of states in India

## Mutable Objects - LISTS

In [47]:
listA = [2.3,3,12.5,7.5,"Python",True]

In [48]:
for i in range(len(listA)):
    print(listA[i], end=' ')

print()

2.3 3 12.5 7.5 Python True

In [49]:
for i in range(-1, -len(listA)-1,-1):
    print(listA[i],end=' ')
print()

True Python 7.5 12.5 3 2.3

In [50]:
tupA = tuple(listA)
tupA

(2.3, 3, 12.5, 7.5, 'Python', True)

## List Comprehension

In [51]:
listB = [x for x in range(10)]
listB

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
listC = []
for x in range(10):
    listC.append(x)
listC

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
listD = [x*2 for x in range(5)] # 0,1,2,3,4
listD

[0, 2, 4, 6, 8]

In [54]:
listE = [1/x for x in range(2,10)] # 2,3,...,9
listE

[0.5,
 0.3333333333333333,
 0.25,
 0.2,
 0.16666666666666666,
 0.14285714285714285,
 0.125,
 0.1111111111111111]

In [55]:
listA

[2.3, 3, 12.5, 7.5, 'Python', True]

In [56]:
listB

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
listF = [x/4 for x in listB]
listF

[0.0, 0.25, 0.5, 0.75, 1.0, 1.25, 1.5, 1.75, 2.0, 2.25]

In [58]:
ListG = [x for x in listF if 0.5 <=x <= 1.25]
ListG

[0.5, 0.75, 1.0, 1.25]

In [59]:
listH = []
for x in listF:
    if(0.5 <=x <= 1.25):
        listH.append(x)
print(listH)

[0.5, 0.75, 1.0, 1.25]

In [60]:
# Using Nested Loop to create a List
###
# x = 2, y = 1,2,3  3,4,5
# x = 3, y = 1,2,3  4,5,6 
# x = 4, y = 1,2,3  5,6,7

listI = []
for x in range(2,5): #2,3,4
    for y in range(1,4): # 1,2,3

        listI.append(x+y)
print(listI)

[3, 4, 5, 4, 5, 6, 5, 6, 7]

In [61]:
listJ = [x+y for x in range(2,5) for y in range(1,4)]
listJ

[3, 4, 5, 4, 5, 6, 5, 6, 7]

In [62]:
a = ['a','b','c']
b = ['x','y','z']

listK = [i+j for i in a for j in b] # concatenating two elements when list
listK

['ax', 'ay', 'az', 'bx', 'by', 'bz', 'cx', 'cy', 'cz']

In [63]:
listL = []
for i in a:
    for j in b:
        listL.append(i+j)
print(listL)

['ax', 'ay', 'az', 'bx', 'by', 'bz', 'cx', 'cy', 'cz']

## Sets - Mutable Data Structure

In [64]:
# Creating an empty set
# Set do not support indexing
# Set elements do not have any order
# Sets can not have duplicates
# Sets can have objects of various types
# SEts are mutable objects


a = [] # List
b = () # Tuple

s1 = set() # Set
s1

set()

In [66]:
# Creating a set with default values 
s2 = {1,6,2.25,'A','Python',True}, # Initial set of values in set use curly braces
s2
print(s2)

({'Python', 1, 2.25, 6, 'A'},)

In [67]:
s3 = {1,2,2,'a',5.46,'a',1,25}
s3

{1, 2, 25, 5.46, 'a'}

In [68]:
# Number of elements
len(s3)

5

In [69]:
t4 = ('Ahmedabad','Bangaluru','Chennai','Delhi')
s4 = set(t4)
s4

{'Ahmedabad', 'Bangaluru', 'Chennai', 'Delhi'}

In [70]:
l5 = [1,1,4,5,4,5,6,9]
s5 = set(l5)
s5

{1, 4, 5, 6, 9}

In [71]:
s6 = set("Mississippi")
s6

{'M', 'i', 'p', 's'}

In [73]:
s7 = {1,6,2.25,4,5.46}
print("Minimum of s7 = ",min(s7))

Minimum of s7 =  1

In [74]:
print("Minimum of s7 = ",sum(s7))

Minimum of s7 =  18.71

In [75]:
print(s7[3]) # Indexing are not allowed with Sets

TypeError: 'set' object is not subscriptable

In [76]:
a = [1,2,3]
b = [3,4,5]

c = a+b
c

[1, 2, 3, 3, 4, 5]

In [77]:
setA = set(a)
setB = set(b)

setC = setA + setB # + not supported
setC

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [78]:
s7

{1, 2.25, 4, 5.46, 6}

In [79]:
# Adding Elements to a Set
s7.add('a')
s7.add('b')
s7.add('a')
s7

{1, 2.25, 4, 5.46, 6, 'a', 'b'}

In [80]:
# Removing an elements

s7.remove(5.46)
s7

{1, 2.25, 4, 6, 'a', 'b'}

In [81]:
s7.remove('c')  # Internally python maintains some key for each charachters so that is why error came KeyError

KeyError: 'c'

In [82]:
if 'c' in s7:
    s7.remove('c')

In [83]:
s7

{1, 2.25, 4, 6, 'a', 'b'}

In [85]:
print(4 in s7) # in and not in operators result in boolean outcome
print(1 not in s7)

True
False

In [86]:
try:
    s7.remove('c')
except:
    print("Something went wrong")
s7

Something went wrong

{1, 2.25, 4, 6, 'a', 'b'}

In [88]:
# Comparing elements
s8 = {1,2,3}
s9 = {2,3,1}

print (s8 == s9) # True becuase order doesn't matters
print(id(s8) == id(s9)) # False

True
False

In [91]:
s10 = {2,8,3,1}
s10.pop()
print(s10)

{1, 2, 3}

In [92]:
s11 ={2,8,3,1}
s11.discard(2)
s11

{1, 3, 8}

In [93]:
s11.discard(9)
s11

{1, 3, 8}

In [94]:
s12 = {9,2,5,4,1,7}
s12

{1, 2, 4, 5, 7, 9}

In [95]:
sorted(s12)

[1, 2, 4, 5, 7, 9]

## Set Operations

In [96]:
s1 = {1,2,3}
s2 = {8,1,6,2,3,7}

print(s1.issubset(s2)) # True
print(s2.issuperset(s1)) # True

True
True

In [99]:
# Union of Sets
s1 = {1,2,3}
s2 = {3,5,8}
s3 = {7,4,5}

print(s1.union(s2))
print(s1.union(s2).union(s3))

{1, 2, 3, 5, 8}
{1, 2, 3, 4, 5, 7, 8}

In [101]:
print(s1 | s2)
print(s1 | s2 | s3)

{1, 2, 3, 5, 8}
{1, 2, 3, 4, 5, 7, 8}

In [102]:
s4 = {1,2,3,4,5}
s5 = {3,5,8,9,12}

print(s4.intersection(s5))
print(s4 & s5)

{3, 5}
{3, 5}

In [104]:
# s4 = {1,2,3,4,5}
# s5 = {3,5,8,9,12}

# Elements that are in s5 but not in s4
print(s5.difference(s4))
print(s5 - s4)

{8, 9, 12}
{8, 9, 12}

In [107]:
# Symmetric difference
# Elements that are in either set, but not in both

print(s5.symmetric_difference(s4))
print(s5 ^ s4)

{1, 2, 4, 8, 9, 12}
{1, 2, 4, 8, 9, 12}